<launch>
 <param name='robot_description' textfile="/ws/src/riggu_description/urdf/riggu.urdf"/> 
    
   <node pkg="joytf" name="joy" type="joy.py"/>
    <node pkg="joytf" name="odometry" type="Odometry.py" output="screen"/> 
    <node pkg="joytf" name="laser_link" type="laser_joint.py" output="screen"/>  
    <node pkg="joy" name="taker" type="joy_node"/> 

    <node pkg="rosserial_python" name="arduino_connect" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
    </node>  

    <include file="$(find pid)/launch/differential_drive.launch" /> 
     <include file="$(find rplidar_ros)/launch/rplidar_a1.launch"/> 
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find joytf)/rviz/slam_config.rviz"/>
    <node type="rqt_graph" name="rqt" pkg="rqt_graph"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
    <include file="$(find gmapping)/launch/slam_gmapping_riggu.launch" /> 

    <!-- <include file="$(find slam_toolbox)/online_async.launch"/> -->
      <!-- <remap from="robot_description" to="my_robot_description"/> 
    <remap from="joint_states" to="joint_state_publish" />
   </node> -->
    
</launch>
